body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.left-content h5,
.left-content h1,
.left-content h4 {
  margin: 0;
}

.container {
  width: calc(100% - 118px);
  margin: 0 auto;
}

a {
  text-decoration: none;
}
/* Header Style */
.hero-header .box-shadow {
  margin-top: 20px;
  box-shadow: 0px 5px 15px 6px rgba(10, 10, 20, 0.1);
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-header nav ul {
  display: flex;
  list-style-type: none;
  gap: 20px;
  text-align: center;
  margin: 20px;
  align-items: center;
  padding: 0;
  margin: 0;
}
.hero-header nav ul li a {
  color: #737373;
}
.hero-header nav ul li a:hover {
  color: #96bb7c;
}
.hero-header nav ul a.active {
  color: #96bb7c;
  font-size: 18px;
  font-weight: 600;
}

.hero-header .auth {
  display: flex;
  align-items: center;
  gap: 40px;
}
.hero-header .auth .login {
  color: #96bb7c;
}
.hero-header .auth .ctn {
  color: #fff;
  background-color: #96bb7c;
  display: flex;
  gap: 15px;
  padding: 15px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-family: "Times New Roman", Times, serif;
  font-size: 14px;
  font-weight: 700;
}
/* End Header Style */
.high-quality .quality-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.high-quality .left-content {
  width: calc((100% - 30px) / 2);
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.left-content h5 {
  color: #96bb7c;
  font-size: 16px;
}
.left-content h1 {
  font-size: 40px;
  width: 500px;
  text-transform: uppercase;
  font-family: "Times New Roman", Times, serif;
}
.left-content h4 {
  color: #737373;
  font-size: 16px;
  width: 300px;
}
.left-content div {
  display: flex;
  align-items: center;
  padding: 20px 0px;
  gap: 15px;
  margin: 0;
  padding: 0;
}
.left-content div .join {
  background-color: #96bb7c;
  color: #fff;
  padding: 10px 30px;
  border-radius: 5px;
}
.left-content .learn-more {
  background-color: #fff;
  color: #96bb7c;
  border: 1px solid #96bb7c;
  padding: 10px 30px;
  border-radius: 5px;
}
.high-quality .right-content {
  width: calc((100% - 30px) / 2);
}
.high-quality .right-content img {
  width: 450px;
  padding: 0px 55px 0px 56px;
}
/* Popular Section */
section.popular {
  padding: 160px 0px;
}
section.popular .popular-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.popular-content h6,
.popular-content h3,
.popular-content p {
  margin: 0;
  padding: 0;
}
.popular-content h6 {
  color: #96bb7c;
  font-size: 14px;
}
.popular-content h3 {
  font-size: 24px;
  color: #252b42;
}
.popular-content p {
  color: #737373;
  font-size: 14px;
  width: 450px;
  line-height: 20px;
  letter-spacing: 0.2px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-bottom: 80px;
}
.popular-content div {
  position: relative;
  display: inline-block;
  width: 500px;
}
.popular-content img {
  display: block;
  width: 100%;
  border-radius: 15px;
}
.popular-content i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #96bb7c;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
